.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}
.social{
    display: flex;
    gap: 10px;
    flex: 1;
}
.active{
    background-color: var(--softTextColor);
    color: var(--text);
    padding: 8px;
    border-radius: 20px;
  }
.logo{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    flex: 1;
}
.links{
    display: flex;
    gap: 20px;
    flex: 1;
    font-size: 20px;
    align-items: center;
}
@media screen and (max-width: 1280px) {
    .logo{
        font-size: 25px;
    }
    .links{
        font-size: 18px;
        gap: 15px;
    }
    
}

@media screen and (max-width: 1024px) {
    .social{
        display: none;
    }
    .logo{
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .logo{
        font-size: 20px;
    }
}

@media screen and (max-width: 640px) {
    .link{
        display: none;
    }
}